@model DownHillParkAPI.ViewModels.RegisterViewModel
<h2>New User Registration</h2>
<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Year"></label><br />
        <input asp-for="Year" />
        <span asp-validation-for="Year"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="PasswordConfirm"></label><br />
        <input asp-for="PasswordConfirm" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div>
        <label asp-for="firstName"></label><br />
        <input asp-for="firstName" />
        <span asp-validation-for="firstName"></span>
    </div>
    <div>
        <label asp-for="lastName"></label><br />
        <input asp-for="lastName" />
        <span asp-validation-for="lastName"></span>
    </div>
    <div>
        <label asp-for="Country"></label><br />
        <input asp-for="Country" />
        <span asp-validation-for="Country"></span>
    </div>
    <div>
        <label asp-for="Bike"></label><br />
        <input asp-for="Bike" />
        <span asp-validation-for="Bike"></span>
    </div>
    <div>
        <label asp-for="Team"></label><br />
        <input asp-for="Team" />
        <span asp-validation-for="Team"></span>
    </div>
    <div>
        <input type="submit" value="Registration" />
    </div>
</form>